<div style = 'border: dotted red;'>
<img src = http://bit.ly/1eze8aE></div>
<h1>My name is <%= @cat_name%></h1>
<form action = "/named-cat"><div>
<input type = "text" name = "name">
<input type = "submit" name = "submit">
</div></form>
