<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<form action = "/names" method = "post"><div>
<h3>Player1</h3>
<input type = "text" name = "player1">
<h3>Player2</h3>
<input type = "text" name = "player2">
<input type = "submit" value = "Submit" class = "button" style="border:none">
</div></form>
